Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2022-05, with the labels that each got.

#514 fix(consul): multiple error messages
  src/components/screens/consul/Debates/NewDebate.js
  src/components/screens/consul/Proposals/NewProposal.js
  src/config/texts.js
  src/screens/consul/LoginRegister/ConsulLoginScreen.js
  src/screens/consul/LoginRegister/ConsulRegisterScreen.js
Labels: bug, enhancement, consul

#516 style(consul): comment input
  src/components/consul/detail/ConsulCommentList.js
  src/components/consul/detail/ConsulCommentListItem.js
  src/components/screens/consul/Debates/DebateDetail.js
  src/components/screens/consul/Polls/PollDetail.js
  src/components/screens/consul/Proposals/ProposalDetail.js
  src/config/Icon.tsx
  src/screens/consul/ConsulDetailScreen.js
Labels: enhancement, consul

#518 fix(consul): error for cities without consul
  src/ConsulClient.tsx
  src/components/screens/consul/Debates/NewDebate.js
  src/components/screens/consul/Proposals/NewProposal.js
  src/helpers/consul/homeData.js
  src/screens/consul/LoginRegister/ConsulRegisterScreen.js
Labels: bug, consul

#522 fix(consul): android crash fix
  src/components/consul/detail/ConsulCommentListItem.js
  src/components/consul/detail/ConsulDocumentListItem.js
  src/components/consul/detail/ConsulQuestionsListItem.js
  src/components/consul/detail/ConsulVotingComponent.js
  src/screens/consul/ConsulIndexScreen.js
Labels: bug, consul

#523 fix(consul): warning with empty `html` for `HtmlView`
  src/components/consul/detail/ConsulQuestionsDescriptionListItem.js
Labels: bug, consul

#521 refactor(consul): code clearing
  src/ConsulClient.tsx
  src/components/consul/ConsulWelcome.js
  src/components/consul/detail/ConsulCommentList.js
  src/components/consul/detail/ConsulCommentListItem.js
  src/components/consul/detail/ConsulDocumentList.js
  src/components/consul/detail/ConsulDocumentListItem.js
  src/components/consul/detail/ConsulExternalVideo.js
  src/components/consul/detail/ConsulPublicAuthor.js
  src/components/consul/detail/ConsulQuestionsDescriptionListItem.js
  src/components/consul/detail/ConsulQuestionsList.js
  src/components/consul/detail/ConsulQuestionsListItem.js
  src/components/consul/detail/ConsulSummary.js
  src/components/consul/detail/ConsulSupporting.js
  src/components/consul/detail/ConsulTagList.js
  src/components/consul/detail/ConsulTagListItem.js
  src/components/consul/detail/ConsulVideo.js
  src/components/consul/detail/ConsulVoting.js
  src/components/consul/detail/index.js
  src/components/consul/list/ConsulList.js
  src/components/consul/list/ConsulListItem.js
  src/components/consul/list/index.js
  src/components/screens/consul/Debates/DebateDetail.js
  src/components/screens/consul/Debates/Debates.js
  src/components/screens/consul/Debates/NewDebate.js
  src/components/screens/consul/Debates/index.js
  src/components/screens/consul/Polls/PollDetail.js
  src/components/screens/consul/Polls/Polls.js
  src/components/screens/consul/Polls/index.js
  src/components/screens/consul/Proposals/NewProposal.js
  src/components/screens/consul/Proposals/ProposalDetail.js
  src/components/screens/consul/Proposals/Proposals.js
  src/components/screens/consul/Proposals/index.js
  src/components/screens/consul/User/User.js
  src/components/screens/consul/UserComments/UserCommentDetail.js
  src/components/screens/consul/UserComments/UserComments.js
  src/components/screens/consul/UserComments/index.js
  src/hooks/consul/index.js
  src/hooks/consul/useConsulData.js
  src/queries/consul/Debates/index.js
  src/queries/consul/LoginRegister/index.js
  src/queries/consul/Polls/index.js
  src/queries/consul/Proposals/index.js
  src/queries/consul/User/index.js
  src/queries/consul/index.js
  src/screens/consul/ConsulDetailScreen.js
  src/screens/consul/ConsulHomeScreen.js
  src/screens/consul/ConsulIndexScreen.js
  src/screens/consul/ConsulStartNewScreen.js
  src/screens/consul/LoginRegister/ConsulLoginScreen.js
  src/screens/consul/LoginRegister/ConsulRegisterScreen.js
  src/screens/consul/LoginRegister/ConsulRegisteredScreen.js
  src/screens/consul/LoginRegister/index.js
  src/screens/consul/index.js
Labels: refactoring, consul

#515 feat(volunteer): add form fields for event organizers, event participant infos and group owner
  src/components/volunteer/VolunteerEventRecord.tsx
  src/components/volunteer/VolunteerFormCalendar.tsx
  src/components/volunteer/VolunteerFormGroup.tsx
  src/config/texts.js
  src/queries/volunteer/calendar.ts
  src/queries/volunteer/group.ts
  src/types/volunteer/calendar.ts
  src/types/volunteer/group.ts
Labels: enhancement, volunteer

#526 fix(volunteer): avatar
  src/components/volunteer/VolunteerAvatar.tsx
  src/components/volunteer/VolunteerEventAttending.tsx
  src/components/volunteer/VolunteerGroupMember.tsx
  src/helpers/volunteerHelper.ts
  src/types/volunteer/index.ts
  src/types/volunteer/user.ts
Labels: bug, volunteer

#527 feat(consul): settings routing
  src/config/texts.js
  src/helpers/consul/homeData.js
Labels: enhancement, consul

#528 fix(volunteer): select multiple dropdown
  src/components/DropdownSelect.js
  src/components/volunteer/VolunteerFormConversation.tsx
Labels: bug, volunteer

#530 feat(volunteer): distinguish between v1 and v2 api
  src/helpers/volunteerHelper.ts
  src/queries/volunteer/auth.ts
  src/queries/volunteer/calendar.ts
  src/queries/volunteer/conversation.ts
  src/queries/volunteer/group.ts
  src/queries/volunteer/post.ts
  src/queries/volunteer/user.ts
Labels: refactoring, volunteer

#531 fix(volunteer): hide user email
  src/components/volunteer/VolunteerUser.tsx
Labels: bug, refactoring, volunteer

#532 feat(volunteer): start conversations with whole group
  src/components/form/DropdownInput.tsx
  src/components/volunteer/VolunteerFormConversation.tsx
  src/components/volunteer/VolunteerUser.tsx
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/screens/volunteer/VolunteerFormScreen.tsx
  src/screens/volunteer/VolunteerIndexScreen.tsx
Labels: enhancement, volunteer

#529 feature: images upload
  src/components/screens/consul/Proposals/NewProposal.js
  src/components/screens/consul/Proposals/ProposalDetail.js
  src/config/texts.js
  src/hooks/imagePicker.ts
  src/queries/consul/uploads/index.js
  src/queries/consul/uploads/upload.js
  src/queries/volunteer/index.ts
  src/queries/volunteer/upload.ts
Labels: enhancement, volunteer, consul

#533 feat(volunteer): read/unread status of conversations
  src/components/TextListItem.tsx
  src/components/volunteer/VolunteerConversationListItem.tsx
  src/components/volunteer/index.ts
  src/helpers/parser/listItemParser.js
  src/hooks/listHooks.js
  src/queries/volunteer/conversation.ts
Labels: enhancement, volunteer

#534 feat(volunteer): add form field for entrance fees
  src/components/form/DropdownInput.tsx
  src/components/volunteer/VolunteerCalendar.tsx
  src/components/volunteer/VolunteerFormCalendar.tsx
  src/components/volunteer/VolunteerGroup.tsx
  src/config/texts.js
  src/queries/volunteer/calendar.ts
  src/types/volunteer/calendar.ts
  src/types/volunteer/group.ts
Labels: enhancement, refactoring, volunteer

#536 feature(consul): upload document
  package.json
  src/components/consul/index.js
  src/components/consul/selectors/DocumentSelector.js
  src/components/consul/selectors/ImageSelector.js
  src/components/consul/selectors/index.js
  src/components/screens/consul/Proposals/NewProposal.js
  src/components/screens/consul/Proposals/ProposalDetail.js
  src/config/consts.js
  src/config/texts.js
  src/helpers/consul/dataErrorMessageGenerator.js
  src/helpers/consul/index.js
  src/helpers/deleteArrayItem.js
  src/helpers/index.js
  src/hooks/documentPicker.ts
  src/hooks/index.js
  yarn.lock
Labels: enhancement, consul

#541 feat(consul): add poll results
  src/components/consul/detail/ConsulQuestionsList.js
  src/components/consul/detail/ConsulQuestionsListItem.js
  src/components/screens/consul/Polls/PollDetail.js
  src/queries/consul/Polls/polls.js
Labels: enhancement, consul

#538 feat(consul): filter draft proposal
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/queries/consul/Proposals/proposals.js
  src/queries/consul/User/user.js
  src/screens/consul/ConsulIndexScreen.js
Labels: enhancement, consul

#542 feat: change app store language
  app.json
Labels: enhancement
