Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2022-03, with the labels that each got.

#468 Volunteer: fetch and show existing appointments
  src/ReactQueryProvider.tsx
  src/components/DataListSection.tsx
  src/components/DropdownSelect.js
  src/components/EventList.js
  src/components/ListComponent.js
  src/components/form/DateTimeInput.tsx
  src/components/form/DropdownInput.tsx
  src/components/form/index.ts
  src/components/screens/PointOfInterest.js
  src/components/volunteer/VolunteerAppointmentsCard.tsx
  src/components/volunteer/VolunteerCalendar.tsx
  src/components/volunteer/VolunteerEventAttending.tsx
  src/components/volunteer/VolunteerEventRecord.tsx
  src/components/volunteer/VolunteerFormCalendar.tsx
  src/components/volunteer/VolunteerFormGroup.tsx
  src/components/volunteer/VolunteerGroup.tsx
  src/components/volunteer/VolunteerGroupMember.tsx
  src/components/volunteer/VolunteerHomeSection.tsx
  src/components/volunteer/VolunteerMessage.tsx
  src/components/volunteer/index.ts
  src/config/colors.js
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/helpers/parser/volunteer/profileData.js
  src/helpers/queryHelper.ts
  src/helpers/shareHelper.js
  src/helpers/textHelper.js
  src/helpers/volunteerHelper.ts
  src/hooks/HomeRefresh.ts
  src/hooks/index.js
  src/hooks/volunteer/data.ts
  src/hooks/volunteer/index.ts
  src/hooks/volunteer/user.tsx
  src/queries/index.js
  src/queries/types.ts
  src/queries/volunteer/auth.ts
  src/queries/volunteer/calendar.ts
  src/queries/volunteer/group.ts
  src/queries/volunteer/index.ts
  src/screens/HomeScreen.js
  src/screens/volunteer/VolunteerDetailScreen.js
  src/screens/volunteer/VolunteerDetailScreen.tsx
  src/screens/volunteer/VolunteerFormScreen.tsx
  src/screens/volunteer/VolunteerHomeScreen.tsx
  src/screens/volunteer/VolunteerIndexScreen.js
  src/screens/volunteer/VolunteerIndexScreen.tsx
  src/screens/volunteer/VolunteerLoginScreen.tsx
  src/screens/volunteer/VolunteerMeScreen.tsx
  src/screens/volunteer/VolunteerPersonalScreen.tsx
  src/screens/volunteer/VolunteerRegistrationScreen.tsx
  src/types/volunteer/calendar.ts
  src/types/volunteer/group.ts
  src/types/volunteer/index.ts
Labels: enhancement, refactoring, volunteer

#470 Volunteer: invite users
  src/components/volunteer/VolunteerWelcome.tsx
  src/config/texts.js
  src/screens/WebScreen.js
Labels: enhancement, volunteer

#478 fix(local time): parsing moments from utc strings
  src/helpers/momentHelper.js
  src/helpers/parser/listItemParser.js
Labels: bug, enhancement

#484 Feature: make OParl file urls open externally
  src/components/oParl/File.tsx
  src/components/oParl/Row.tsx
Labels: enhancement

#482 fix(date): newsitem detail showing wrong date for midnight
  src/components/screens/NewsItem.js
Labels: bug, enhancement

#487 Volunteer: register webview
  src/components/volunteer/VolunteerWelcome.tsx
  src/screens/volunteer/VolunteerLoginScreen.tsx
Labels: refactoring, volunteer

#488 Volunteer: downgrade react-hook-form
  package.json
  src/screens/volunteer/VolunteerLoginScreen.tsx
  src/types/volunteer/index.ts
  src/types/volunteer/login.ts
  yarn.lock
Labels: bug, refactoring, volunteer

#489 chore(text): insert zero width space after dashes
  src/components/Text.js
Labels: enhancement

#491 fix(volunteer): bugs with forms
  src/components/form/Input.tsx
  src/components/form/PickerInput.js
  src/components/volunteer/VolunteerCalendar.tsx
  src/components/volunteer/VolunteerFormCalendar.tsx
  src/components/volunteer/VolunteerFormGroup.tsx
  src/queries/volunteer/calendar.ts
Labels: bug, enhancement, refactoring, volunteer

#493 Volunteer: posts in groups
  package.json
  src/components/ListComponent.js
  src/components/VerticalList.js
  src/components/volunteer/VolunteerAvatar.tsx
  src/components/volunteer/VolunteerEventAttending.tsx
  src/components/volunteer/VolunteerEventRecord.tsx
  src/components/volunteer/VolunteerGroup.tsx
  src/components/volunteer/VolunteerGroupMember.tsx
  src/components/volunteer/VolunteerMessage.tsx
  src/components/volunteer/VolunteerMessageTextField.tsx
  src/components/volunteer/VolunteerPostListItem.tsx
  src/components/volunteer/VolunteerPostTextField.tsx
  src/components/volunteer/VolunteerPosts.tsx
  src/components/volunteer/index.ts
  src/config/styles/index.js
  src/config/styles/markdown.js
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/helpers/volunteerHelper.ts
  src/hooks/listHooks.js
  src/hooks/volunteer/data.ts
  src/queries/index.js
  src/queries/types.ts
  src/queries/volunteer/calendar.ts
  src/queries/volunteer/index.ts
  src/queries/volunteer/post.ts
  src/screens/volunteer/VolunteerDetailScreen.tsx
  src/screens/volunteer/VolunteerIndexScreen.tsx
  src/types/volunteer/calendar.ts
  src/types/volunteer/index.ts
  src/types/volunteer/post.ts
  yarn.lock
Labels: enhancement, volunteer

#495 feat(volunteer): list group members
  src/components/volunteer/VolunteerFormConversation.tsx
  src/components/volunteer/VolunteerGroup.tsx
  src/components/volunteer/VolunteerGroupMember.tsx
  src/components/volunteer/VolunteerTask.js
  src/components/volunteer/VolunteerUser.tsx
  src/components/volunteer/index.ts
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/helpers/queryHelper.ts
  src/hooks/volunteer/data.ts
  src/queries/index.js
  src/queries/types.ts
  src/screens/volunteer/VolunteerDetailScreen.tsx
  src/screens/volunteer/VolunteerFormScreen.tsx
  src/screens/volunteer/VolunteerMeScreen.tsx
  src/screens/volunteer/VolunteerPersonalScreen.tsx
Labels: enhancement, volunteer

#496 feat(volunteer): list event participants
  src/components/volunteer/VolunteerEventAttending.tsx
  src/components/volunteer/VolunteerEventRecord.tsx
  src/components/volunteer/VolunteerUser.tsx
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/helpers/queryHelper.ts
  src/hooks/volunteer/data.ts
Labels: enhancement, volunteer

#492 Fix(location): Reduced accuracy for location access on iOS
  src/hooks/locationHooks.ts
Labels: enhancement, refactoring
