Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2022-04, with the labels that each got.

#485 Consul: login register
  package.json
  src/ConsulClient.tsx
  src/components/Checkbox.js
  src/components/Consul/ConsulWelcome.js
  src/components/Consul/Form/Input.js
  src/components/Consul/Form/index.js
  src/components/Consul/index.js
  src/components/consul/list/ConsulListComponent.js
  src/components/consul/list/ConsulListItem.js
  src/components/consul/list/index.js
  src/components/index.js
  src/config/Icon.tsx
  src/config/consts.js
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/consul/homeData.js
  src/helpers/consul/index.js
  src/helpers/consulHelper.js
  src/helpers/index.js
  src/hooks/Consul/index.js
  src/hooks/Consul/useConsulUser.js
  src/hooks/apollo.ts
  src/icons/close.js
  src/icons/index.js
  src/icons/ok.js
  src/icons/unvisible.js
  src/icons/visible.js
  src/queries/Consul/LoginRegister/index.js
  src/queries/Consul/LoginRegister/login.js
  src/queries/Consul/LoginRegister/logout.js
  src/queries/Consul/LoginRegister/passwordUpdate.js
  src/queries/Consul/LoginRegister/register.js
  src/queries/Consul/LoginRegister/user.js
  src/queries/Consul/index.js
  src/screens/Consul/Debates/ConsulDebatesHomeScreen.js
  src/screens/Consul/Debates/index.js
  src/screens/Consul/LoginRegister/ConsulHomeScreen.js
  src/screens/Consul/LoginRegister/ConsulLoginScreen.js
  src/screens/Consul/LoginRegister/ConsulRegisterScreen.js
  src/screens/Consul/LoginRegister/ConsulRegisteredScreen.js
  src/screens/Consul/LoginRegister/index.js
  src/screens/Consul/Proposals/ConsulProposalsHomeScreen.js
  src/screens/Consul/Proposals/index.js
  src/screens/Consul/UserSettings/ConsulUserSettingsScreen.js
  src/screens/Consul/UserSettings/index.js
  src/screens/Consul/Voting/ConsulVotingHomeScreen.js
  src/screens/Consul/Voting/index.js
  src/screens/Consul/index.js
  src/screens/index.js
  src/types/Navigation.ts
  yarn.lock
Labels: enhancement, consul

#508 Volunteer: group messages and auto refresh
  src/components/DropdownSelect.js
  src/components/form/DropdownInput.tsx
  src/components/volunteer/VolunteerConversationsSection.tsx
  src/components/volunteer/VolunteerFormConversation.tsx
  src/components/volunteer/VolunteerMessageTextField.tsx
  src/components/volunteer/index.ts
  src/config/Icon.tsx
  src/helpers/parser/listItemParser.js
  src/hooks/volunteer/data.ts
  src/hooks/volunteer/user.tsx
  src/queries/volunteer/conversation.ts
  src/screens/volunteer/VolunteerDetailScreen.tsx
  src/screens/volunteer/VolunteerIndexScreen.tsx
  src/screens/volunteer/VolunteerPersonalScreen.tsx
  src/types/volunteer/conversation.ts
Labels: enhancement, volunteer

#502 Fix: repeated location permission request on app start
  src/helpers/initializationHelper.ts
Labels: bug, enhancement

#507 feat(categories): add query param to exclude specific ids
  src/queries/categories.js
Labels: enhancement

#433 feat(empty screen): new empty message component
  src/components/EmptyMessage.js
  src/components/EventList.js
  src/components/ListComponent.js
  src/components/VerticalList.js
  src/components/index.js
  src/config/Icon.tsx
  src/config/texts.js
  src/screens/HtmlScreen.js
  src/screens/IndexScreen.js
Labels: enhancement

#479 fix(static content): add condition for setting error
  src/hooks/staticContent.ts
  src/screens/MultiButtonScreen.tsx
Labels: bug, enhancement

#490 Consul: debate
  src/ConsulClient.tsx
  src/components/Consul/ConsulStartNewButton.js
  src/components/Consul/index.js
  src/components/consul/detail/ConsulCommentList.js
  src/components/consul/detail/ConsulCommentListItem.js
  src/components/consul/detail/ConsulPublicAuthorComponent.js
  src/components/consul/detail/ConsulTagList.js
  src/components/consul/detail/ConsulTagListItem.js
  src/components/consul/detail/ConsulVotingComponent.js
  src/components/consul/detail/index.js
  src/components/screens/Consul/Debates/DebateDetail.js
  src/components/screens/Consul/Debates/Debates.js
  src/components/screens/Consul/Debates/NewDebate.js
  src/components/screens/Consul/Debates/index.js
  src/components/screens/Consul/index.js
  src/components/screens/index.js
  src/config/Icon.tsx
  src/config/consts.js
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/consul/homeData.js
  src/helpers/consul/index.js
  src/helpers/consul/sortingHelper.js
  src/helpers/consulHelper.js
  src/helpers/parser/listItemParser.js
  src/hooks/Consul/index.js
  src/hooks/consul/useConsulData.js
  src/hooks/index.js
  src/icons/index.js
  src/icons/like.js
  src/queries/Consul/Debates/commits.js
  src/queries/Consul/Debates/debates.js
  src/queries/Consul/Debates/index.js
  src/queries/Consul/Debates/startDebate.js
  src/queries/Consul/Debates/updateDebate.js
  src/queries/Consul/Debates/voteOnComment.js
  src/queries/Consul/index.js
  src/queries/index.js
  src/queries/types.js
  src/screens/Consul/ConsulDetailScreen.js
  src/screens/Consul/ConsulHomeScreen.js
  src/screens/Consul/ConsulIndexScreen.js
  src/screens/Consul/ConsulStartNewScreen.js
  src/screens/Consul/Debates/ConsulDebatesHomeScreen.js
  src/screens/Consul/Debates/index.js
  src/screens/Consul/LoginRegister/ConsulLoginScreen.js
  src/screens/Consul/LoginRegister/index.js
  src/screens/Consul/index.js
  src/types/Navigation.ts
Labels: enhancement, consul

#511 fix(volunteer & consul): prefixed query types
  src/queries/types.ts
Labels: bug, volunteer, consul

#510 feat(consul): add avatar
  src/components/consul/detail/ConsulCommentList.js
  src/components/consul/detail/ConsulCommentListItem.js
  src/components/consul/detail/ConsulPublicAuthor.js
  src/components/consul/detail/ConsulPublicAuthorComponent.js
  src/components/consul/detail/ConsulQuestionsListItem.js
  src/components/consul/detail/ConsulSupportingComponent.js
  src/components/consul/detail/ConsulVotingComponent.js
  src/components/consul/detail/index.js
  src/components/screens/consul/Debates/DebateDetail.js
  src/components/screens/consul/Polls/PollDetail.js
  src/components/screens/consul/Proposals/ProposalDetail.js
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/helpers/queryHelper.ts
  src/queries/index.js
Labels: enhancement, consul

#512 feat(consul): add empty message
  src/components/screens/consul/Debates/DebateDetail.js
  src/components/screens/consul/Debates/Debates.js
  src/components/screens/consul/Polls/PollDetail.js
  src/components/screens/consul/Polls/Polls.js
  src/components/screens/consul/Proposals/ProposalDetail.js
  src/components/screens/consul/Proposals/Proposals.js
  src/components/screens/consul/User/User.js
  src/components/screens/consul/UserComments/UserCommentDetail.js
  src/components/screens/consul/UserComments/UserComments.js
  src/components/widgets/Widgets.tsx
  src/screens/consul/ConsulDetailScreen.js
  src/screens/consul/ConsulIndexScreen.js
  src/screens/volunteer/VolunteerDetailScreen.tsx
Labels: enhancement, consul

#513 fix(consul): static content names
  src/components/consul/ConsulWelcome.js
  src/screens/consul/LoginRegister/ConsulRegisteredScreen.js
Labels: enhancement, consul
