Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2023-11, with the labels that each got.

#962 feat(sue): detail screen
  src/components/CardListItem.js
  src/components/ConnectedImagesCarousel.js
  src/components/SUE/SueAddress.tsx
  src/components/SUE/SueCategory.tsx
  src/components/SUE/SueDateTime.tsx
  src/components/SUE/SueMapView.tsx
  src/components/SUE/SueStatus.tsx
  src/components/SUE/SueStatuses.tsx
  src/components/SUE/index.ts
  src/components/screens/SUE/SueDetailScreen.tsx
  src/components/screens/SUE/SueListScreen.tsx
  src/components/screens/SUE/SueMapScreen.tsx
  src/config/Icon.tsx
  src/config/texts.js
  src/helpers/SUE/sueParser.tsx
  src/hooks/SUE/data.ts
  src/icons/SUE/checkSmall.js
  src/icons/SUE/clock.js
  src/icons/SUE/clockSmall.js
  src/icons/SUE/eye.js
  src/icons/SUE/eyeSmall.js
  src/icons/SUE/face.js
  src/icons/SUE/faceSmall.js
  src/icons/SUE/index.js
  src/icons/index.js
  src/queries/SUE/requestsWithServiceRequestId.tsx
  src/screens/DetailScreen.js
  src/screens/HomeScreen.js
  src/screens/IndexScreen.js
Labels: enhancement, sue

#961 feat(sue): list view
  src/SettingsProvider.js
  src/components/CardListItem.js
  src/components/ConnectedImagesCarousel.js
  src/components/Image.js
  src/components/SUE/SueCategory.tsx
  src/components/SUE/SueDateTime.tsx
  src/components/SUE/SueImageFallback.tsx
  src/components/SUE/SueStatus.tsx
  src/components/SUE/SueStatuses.tsx
  src/components/SUE/index.ts
  src/components/map/Map.tsx
  src/components/screens/SUE/SueDetailScreen.tsx
  src/components/screens/SUE/SueListScreen.tsx
  src/components/screens/SUE/SueMapScreen.tsx
  src/components/screens/index.js
  src/config/Icon.tsx
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/SUE/index.ts
  src/helpers/SUE/sueParser.tsx
  src/helpers/index.js
  src/helpers/parser/consulParser.js
  src/helpers/parser/index.ts
  src/helpers/parser/listItemParser.js
  src/helpers/parser/sueParser.js
  src/helpers/parser/volunteerParser.js
  src/helpers/sueHelper.ts
  src/hooks/SUE/data.ts
  src/hooks/SUE/index.ts
  src/hooks/index.js
  src/hooks/listHooks.js
  src/icons/SUE/broom.js
  src/icons/SUE/checkSmall.js
  src/icons/SUE/clock.js
  src/icons/SUE/clockSmall.js
  src/icons/SUE/eye.js
  src/icons/SUE/eyeSmall.js
  src/icons/SUE/face.js
  src/icons/SUE/faceSmall.js
  src/icons/SUE/index.js
  src/icons/index.js
  src/index.js
  src/queries/SUE/priorities.tsx
  src/queries/SUE/requests.tsx
  src/queries/SUE/requestsWithServiceRequestId.tsx
  src/queries/SUE/services.tsx
  src/queries/SUE/statuses.tsx
  src/queries/index.js
  src/screens/DetailScreen.js
  src/screens/HomeScreen.js
  src/screens/SUE/SueDetailScreen.tsx
  src/screens/SUE/SueListScreen.tsx
  src/screens/SUE/SueMapScreen.tsx
  src/screens/SUE/index.ts
Labels: enhancement, sue

#960 feat(sue): create navigation structure
  src/SettingsProvider.js
  src/components/CardListItem.js
  src/components/ConnectedImagesCarousel.js
  src/components/Image.js
  src/components/SUE/SueCategory.tsx
  src/components/SUE/SueDateTime.tsx
  src/components/SUE/SueImageFallback.tsx
  src/components/SUE/SueStatus.tsx
  src/components/SUE/SueStatuses.tsx
  src/components/SUE/index.ts
  src/components/index.js
  src/components/map/Map.tsx
  src/config/Icon.tsx
  src/config/consts.js
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/SUE/index.ts
  src/helpers/SUE/sueParser.tsx
  src/helpers/index.js
  src/helpers/parser/consulParser.js
  src/helpers/parser/index.ts
  src/helpers/parser/listItemParser.js
  src/helpers/parser/sueParser.js
  src/helpers/parser/volunteerParser.js
  src/helpers/sueHelper.ts
  src/hooks/SUE/data.ts
  src/hooks/SUE/index.ts
  src/hooks/index.js
  src/hooks/listHooks.js
  src/icons/SUE/broom.js
  src/icons/SUE/checkSmall.js
  src/icons/SUE/clock.js
  src/icons/SUE/clockSmall.js
  src/icons/SUE/eye.js
  src/icons/SUE/eyeSmall.js
  src/icons/SUE/face.js
  src/icons/SUE/faceSmall.js
  src/icons/SUE/index.js
  src/icons/index.js
  src/index.js
  src/queries/SUE/priorities.tsx
  src/queries/SUE/requests.tsx
  src/queries/SUE/requestsWithServiceRequestId.tsx
  src/queries/SUE/services.tsx
  src/queries/SUE/statuses.tsx
  src/queries/index.js
  src/screens/DetailScreen.js
  src/screens/HomeScreen.js
  src/screens/SUE/SueDetailScreen.tsx
  src/screens/SUE/SueListScreen.tsx
  src/screens/SUE/SueMapScreen.tsx
  src/screens/SUE/index.ts
  src/types/Navigation.ts
Labels: enhancement, sue

#964 feat(sue): tried lottie files and used fallback gif for list loading animation
  assets/lottie/SUE/broom.gif
  assets/lottie/SUE/broom.json
  src/components/ListComponent.js
  src/components/SUE/SueLoadingIndicator.tsx
  src/components/SUE/index.ts
  src/components/VerticalList.js
  src/screens/SUE/SueListScreen.tsx
Labels: enhancement, sue

#967 feat(sue): add `SueImageFallback` to reports without image
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#966 refactor(sue): adjustments for report screen
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/components/consul/selectors/ImageSelector.js
  src/components/map/Map.tsx
  src/components/settings/LocationSettings.js
  src/config/texts.js
  src/helpers/parser/sueParser.js
  src/queries/SUE/requests.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: refactoring, sue

#970 fix(ar): app crashes in settings screen
  src/screens/SettingsScreen.js
Labels: bug, ar
