Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2024-04, with the labels that each got.

#1059 feat(sue): list previous reports on the report screen
  src/components/SUE/report/SueReportLocation.tsx
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#1066 feat: add keyboard switch off when the search button is pressed
  src/components/Search.tsx
Labels: enhancement, sue

#1067 feat: add description of categories to report screen
  src/components/SUE/report/SueReportServices.tsx
Labels: enhancement, sue

#1063 feat: expand `PermanentFilterProvider` with `mowasRegionalKeys`
  src/PermanentFilterProvider.tsx
  src/components/DropdownHeader.js
  src/components/screens/Overviews.js
  src/components/settings/PermanentFilterSettings.tsx
  src/hooks/permanentFilter.ts
  src/queries/newsItems.js
  src/screens/HomeScreen.js
Labels: enhancement

#1069 feat(sue): update alert messages
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1057 feat: add clustering for map view
  package.json
  src/components/map/Map.tsx
  src/screens/SUE/SueMapScreen.tsx
  yarn.lock
Labels: enhancement, sue

#1070 chore: compile in the latest xcode version for iOS
  eas.json
Labels: enhancement

#1071 refactor: adjusted const naming
  src/screens/SUE/SueReportScreen.tsx
Labels: refactoring, sue

#1076 feat: add subtitle for list view
  src/helpers/parser/listItemParser.js
  src/queries/vouchers.ts
Labels: enhancement, voucher

#1077 feat: add title and subtitle to detail screen
  src/components/vouchers/VoucherListItem.tsx
  src/helpers/parser/listItemParser.js
  src/queries/vouchers.ts
  src/screens/Voucher/VoucherDetailScreen.tsx
Labels: enhancement, voucher

#1080 fix: application crashes in case of server-induced busbb errors
  src/components/BB-BUS/IndexFilter.js
Labels: bug

#1064 feat(voucher): add qr code scan screen
  src/config/consts.js
  src/config/navigation/config.ts
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/screens/DetailScreen.js
  src/screens/EncounterScannerScreen.tsx
  src/screens/Voucher/VoucherScannerScreen.tsx
  src/screens/Voucher/index.ts
  src/types/Navigation.ts
Labels: enhancement, voucher

#1079 fix: fetch more data error
  src/components/vouchers/VoucherList.tsx
  src/queries/index.js
  src/screens/Voucher/VoucherIndexScreen.tsx
Labels: bug, voucher

#1075 feat: add member id to query
  src/components/vouchers/VoucherRedeem.tsx
  src/helpers/voucherHelper.ts
  src/hooks/voucherHooks.ts
  src/queries/vouchers.ts
  src/screens/Voucher/VoucherDetailScreen.tsx
  src/screens/Voucher/VoucherIndexScreen.tsx
  src/screens/Voucher/VoucherLoginScreen.tsx
Labels: enhancement, voucher

#1078 feat: add `deviceToken` for redeem voucher
  src/components/vouchers/VoucherRedeem.tsx
  src/helpers/voucherHelper.ts
Labels: enhancement, voucher

#1074 feat: add image to detail screen and list screen
  src/components/vouchers/VoucherListItem.tsx
  src/helpers/parser/listItemParser.js
  src/queries/vouchers.ts
  src/screens/Voucher/VoucherDetailScreen.tsx
  src/types/voucher/voucher.ts
Labels: enhancement, voucher

#1082 feat: add availability for voucher
  src/components/vouchers/VoucherRedeem.tsx
  src/config/texts.js
  src/queries/vouchers.ts
Labels: enhancement, voucher

#1072 feat: add voucher list to poi detail screen
  src/components/screens/PointOfInterest.js
  src/config/texts.js
  src/queries/pointsOfInterest.js
  src/screens/Voucher/VoucherDetailScreen.tsx
Labels: enhancement, voucher

#1084 fix(voucher): general bug fix
  src/queries/pointsOfInterest.js
  src/queries/vouchers.ts
  src/screens/DetailScreen.js
  src/screens/Voucher/VoucherHomeScreen.tsx
  src/screens/Voucher/VoucherIndexScreen.tsx
Labels: bug, voucher

#1083 fix: listing error for vouchers in favourites
  src/components/bookmarks/BookmarkSection.tsx
  src/components/vouchers/VoucherList.tsx
  src/hooks/listHooks.js
  src/screens/Voucher/VoucherIndexScreen.tsx
Labels: bug, voucher

#1092 fix: app crashes in map view
  src/components/map/LocationOverview.tsx
Labels: bug

#1093 fix: the dropdown hiding problem when category is selected
  src/hooks/listHooks.js
  src/screens/Voucher/VoucherIndexScreen.tsx
Labels: bug, voucher

#1094 fix: the black camera on the scanner screen
  src/config/texts.js
  src/screens/Voucher/VoucherScannerScreen.tsx
Labels: bug, voucher

#1095 feat(voucher): sort categories alphabetically
  src/helpers/parser/listItemParser.js
Labels: enhancement, voucher

#1096 fix(voucher): header image not showing after login
  src/screens/Voucher/VoucherHomeScreen.tsx
  src/screens/Voucher/VoucherLoginScreen.tsx
Labels: bug, voucher
