Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2024-01, with the labels that each got.

#985 feat: add voucher queries
  src/queries/index.js
  src/queries/types.ts
  src/queries/vouchers.js
Labels: enhancement, voucher

#988 feat: add voucher index
  src/components/ListComponent.js
  src/components/index.js
  src/components/vouchers/Discount.tsx
  src/components/vouchers/VoucherList.tsx
  src/components/vouchers/VoucherListItem.tsx
  src/components/vouchers/index.ts
  src/components/widgets/VoucherWidget.tsx
  src/config/consts.js
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/hooks/listHooks.js
  src/queries/vouchers.js
  src/screens/BookmarkScreen.js
  src/screens/Voucher/VoucherHomeScreen.tsx
  src/screens/Voucher/VoucherIndexScreen.tsx
  src/screens/Voucher/index.ts
  src/types/Navigation.ts
  src/types/index.ts
  src/types/voucher/index.ts
  src/types/voucher/voucher.ts
Labels: enhancement, voucher

#989 feat: add voucher detail
  package.json
  src/components/Checkbox.js
  src/components/vouchers/VoucherRedeem.tsx
  src/components/vouchers/index.ts
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/screens/Voucher/VoucherDetailScreen.tsx
  src/screens/Voucher/index.ts
  src/types/Navigation.ts
  src/types/voucher/voucher.ts
  yarn.lock
Labels: enhancement, voucher

#990 feat: add voucher categories list
  src/components/TextListItem.tsx
  src/helpers/parser/listItemParser.js
  src/queries/index.js
  src/queries/types.ts
  src/queries/vouchers.js
  src/screens/Voucher/VoucherIndexScreen.tsx
Labels: enhancement, voucher

#992 feat: remove dropdown menu of categorised list
  src/config/texts.js
  src/helpers/parser/listItemParser.js
  src/screens/Voucher/VoucherIndexScreen.tsx
Labels: enhancement, voucher

#991 feat: voucher login
  src/config/navigation/defaultStackConfig.tsx
  src/config/texts.js
  src/helpers/voucherHelper.ts
  src/hooks/index.js
  src/hooks/voucherHooks.ts
  src/queries/vouchers.ts
  src/screens/Voucher/VoucherHomeScreen.tsx
  src/screens/Voucher/VoucherLoginScreen.tsx
  src/screens/Voucher/index.ts
  src/types/Navigation.ts
  src/types/voucher/index.ts
  src/types/voucher/login.ts
Labels: enhancement, voucher

#993 feat: integrate generic item query
  src/components/vouchers/VoucherList.tsx
  src/helpers/parser/listItemParser.js
  src/queries/vouchers.ts
  src/screens/Voucher/VoucherDetailScreen.tsx
Labels: enhancement, voucher

#995 feat: add static content text for login screen
  src/config/texts.js
  src/hooks/staticContent.ts
  src/screens/Voucher/VoucherLoginScreen.tsx
Labels: enhancement, voucher

#996 feat: add dropdown filter to vouchers index
  src/components/DropdownHeader.js
  src/screens/Voucher/VoucherIndexScreen.tsx
  src/types/voucher/voucher.ts
Labels: enhancement, voucher

#999 feat: add filter to bookmark for vouchers
  src/screens/BookmarkScreen.js
Labels: enhancement, voucher

#998 fix: the problem of not showing the count of vouchers widget
  src/components/widgets/VoucherWidget.tsx
Labels: enhancement, voucher

#1000 feat: add transactions to storage for redeeming vouchers
  src/components/vouchers/VoucherRedeem.tsx
  src/helpers/voucherHelper.ts
  src/queries/vouchers.ts
  src/screens/Voucher/VoucherLoginScreen.tsx
Labels: enhancement, voucher

#1002 fix: map pixelation problem on android
  src/components/map/Map.tsx
Labels: bug, sue

#1003 chore: add `@expo/vector-icons` package
  package.json
  yarn.lock
Labels: enhancement, dependencies

#1005 fix: failure to delete stored image file
  src/screens/SUE/SueReportScreen.tsx
Labels: bug, sue

#1008 refactor: return the object to an array and use the `setValue` function
  src/screens/SUE/SueReportScreen.tsx
Labels: refactoring, sue

#1006 feat(sue): location fields not required
  src/components/SUE/report/SueReportLocation.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1010 feat(sue): use my location for report
  src/components/SUE/report/SueReportLocation.tsx
  src/components/map/Map.tsx
  src/config/Icon.tsx
  src/config/texts.js
  src/icons/gps.js
  src/icons/index.js
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1007 feat: take a photo with the camera
  src/components/consul/selectors/ImageSelector.js
  src/config/texts.js
  src/hooks/imagePicker.ts
Labels: enhancement, sue

#1013 fix: app crashes when selecting location from map
  src/components/SUE/report/SueReportLocation.tsx
  src/components/map/Map.tsx
Labels: bug, sue

#1004 fix: tile appearance
  src/components/CardListItem.js
  src/components/Chat.js
  src/components/Image.js
  src/components/TextListItem.tsx
  src/components/consul/selectors/ImageSelector.js
  src/components/screens/ServiceTile.tsx
  src/components/weather/DailyWeather.tsx
  src/components/widgets/DefaultWidget.tsx
  src/components/widgets/WeatherWidget.tsx
Labels: bug
