Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2024-06, with the labels that each got.

#1125 feat: remove the question whether to change the picture for android
  src/hooks/imagePicker.ts
Labels: enhancement, sue

#1124 fix: apply patch to react-native-maps to fix street name overlap on iOS 16+
  package.json
  patches/react-native-maps+1.7.1.patch
  yarn.lock
Labels: bug, sue

#1126 fix: settings screen not loading problem
  src/screens/SettingsScreen.js
Labels: bug, ar

#1130 chore(sue): retract `doubleTileSize` property
  src/components/map/Map.tsx
Labels: enhancement, sue

#1120 feat(sue): add user feedback form
  src/components/SUE/report/SueReportSend.tsx
  src/config/texts.js
Labels: enhancement, sue

#1129 feat: get coordinate data in the image
  src/components/Chat.js
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportServices.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/components/consul/selectors/ImageSelector.js
  src/hooks/imagePicker.ts
  src/hooks/index.js
  src/hooks/reverseGeocode.ts
  src/screens/EncounterDataScreen.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1121 feat(sue): connect with the area service
  src/components/Chat.js
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportServices.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/components/consul/selectors/ImageSelector.js
  src/components/map/Map.tsx
  src/hooks/imagePicker.ts
  src/hooks/index.js
  src/hooks/reverseGeocode.ts
  src/queries/SUE/areaService.tsx
  src/queries/SUE/index.ts
  src/queries/index.js
  src/queries/types.ts
  src/screens/EncounterDataScreen.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1131 feat: integrate app with config api
  src/ConfigurationsProvider.tsx
  src/SettingsProvider.js
  src/components/Image.js
  src/components/SUE/SueStatus.tsx
  src/components/SUE/SueStatuses.tsx
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportProgress.tsx
  src/components/SUE/report/SueReportSend.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/components/consul/selectors/ImageSelector.js
  src/components/map/Map.tsx
  src/config/appDesignSystem/default.ts
  src/config/appDesignSystem/index.ts
  src/config/index.js
  src/config/sue/default.ts
  src/config/sue/index.ts
  src/config/texts.js
  src/helpers/storageHelper.js
  src/helpers/sueHelper.ts
  src/index.js
  src/queries/SUE/areaService.tsx
  src/queries/SUE/configurations.tsx
  src/queries/SUE/index.ts
  src/queries/index.js
  src/queries/types.ts
  src/screens/HomeScreen.js
  src/screens/SUE/SueDetailScreen.tsx
  src/screens/SUE/SueListScreen.tsx
  src/screens/SUE/SueMapScreen.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1134 fix(sue): the problem of images not loading
  src/components/Image.js
Labels: bug, sue

#1132 feat(sue): update the text on the pins on the report screen
  src/components/map/Map.tsx
  src/helpers/textHelper.js
  src/types/Map.ts
Labels: enhancement, sue

#1138 feat(sue): add `sueReportScreen` config to `sueConfig`
  src/components/SUE/report/SueReportSend.tsx
  src/config/appDesignSystem/default.ts
  src/config/sue/default.ts
Labels: enhancement, sue

#1133 feat: add category details texts under tiles
  src/components/SUE/report/SueReportServices.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1137 feat(sue): add current location to full screen map view
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#1139 feat(sue): add warning when address inputs are filled from the image
  src/components/consul/selectors/ImageSelector.js
  src/config/texts.js
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1140 feat: add location selection on full screen map
  src/components/SUE/report/SueReportLocation.tsx
  src/config/navigation/defaultStackConfig.tsx
  src/screens/MapViewScreen.js
  src/screens/SUE/SueMapViewScreen.tsx
  src/screens/SUE/index.ts
  src/types/Navigation.ts
Labels: enhancement, sue

#1143 feat(sue): update total size error according to config
  src/config/texts.js
  src/helpers/fileSizeHelper.ts
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1147 feat(sue): update sue input keys
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/config/consts.js
  src/hooks/reverseGeocode.ts
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1145 feat(sue): set address inputs according to `geoMap` config
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/config/consts.js
  src/hooks/reverseGeocode.ts
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1144 feat(sue): update keys according to config api
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportServices.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/config/consts.js
  src/config/texts.js
  src/hooks/reverseGeocode.ts
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1142 chore(expo): update expo version to 51
  App.js
  app.config.js
  app.config.ts
  app.json
  metro.config.js
  package.json
  src/helpers/cameraHelper.ts
  src/pushNotifications/PermissionHandling.ts
  src/screens/EncounterScannerScreen.tsx
  yarn.lock
Labels: enhancement

#1150 chore(expo): update expo version to 51.0.16
  package.json
  yarn.lock
Labels: enhancement

#1149 fix(sue): the problem of the app crashing when taking a picture
  app.json
Labels: bug, sue

#1151 feat(sentry): reduce sentry logs
  App.js
Labels: enhancement

#1127 chore: extend normalize function update
  src/components/Button.js
  src/config/normalize.js
Labels: refactoring

#1123 chore: update normalize function
  src/components/Button.js
  src/config/normalize.js
Labels: refactoring

#1098 feat: add react-native-svg-transformer package
  metro.config.js
  package.json
  yarn.lock
Labels: dependencies
