Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2024-02, with the labels that each got.

#1014 chore: update icons
  src/config/Icon.tsx
Labels: bug

#1015 chore: adjust packages
  package.json
  yarn.lock
Labels: dependencies

#1016 feat(sue): update react-query usage
  src/queries/SUE/requests.tsx
  src/screens/SUE/SueListScreen.tsx
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#1019 fix: unable to edit tile error
  src/components/screens/Service.tsx
  src/config/consts.js
Labels: bug

#1020 fix: prop error of `Image` component in `Logo` component
  src/components/Logo.js
Labels: bug

#1022 fix: app crashes in map view due to pagination
  src/screens/SUE/SueMapScreen.tsx
Labels: bug, sue

#1021 feat: delete saved data when the application is reopened
  App.js
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1024 feat: add button to close list item in map view
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#1025 fix: links open externally instead of the application
  src/screens/BB-BUS/DetailScreen.js
Labels: bug

#1026 feat(sue): fetch all requests
  src/screens/SUE/SueListScreen.tsx
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#1027 fix: the error that null occurs when the description text is sent empty
  src/screens/SUE/SueReportScreen.tsx
Labels: bug, sue

#1028 fix: an image reinsertion error that was deleted during the reporting process
  src/screens/SUE/SueReportScreen.tsx
Labels: bug, sue

#1023 feat: add sending report loading screen
  src/components/SUE/report/SueReportSend.tsx
  src/components/SUE/report/index.ts
  src/components/consul/selectors/ImageSelector.js
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1029 feat: get the service data from server to filter it
  src/screens/SUE/SueListScreen.tsx
Labels: enhancement, sue

#1017 feat: add filter function
  src/components/DropdownSelect.js
  src/components/ListComponent.js
  src/components/VerticalList.js
  src/components/filter/DateFilter.tsx
  src/components/filter/DropdownFilter.tsx
  src/components/filter/Filter.tsx
  src/components/filter/Sue/StatusFilter.tsx
  src/components/filter/Sue/index.ts
  src/components/filter/index.ts
  src/components/index.js
  src/config/Icon.tsx
  src/config/consts.js
  src/config/texts.js
  src/helpers/filterObjectHelper.ts
  src/helpers/index.js
  src/helpers/parser/sueParser.js
  src/icons/filter.js
  src/icons/index.js
  src/screens/SUE/SueListScreen.tsx
Labels: enhancement, sue

#1032 feat: improve inputs on the report screen
  src/components/SUE/report/SueReportDescription.tsx
  src/components/SUE/report/SueReportLocation.tsx
  src/components/SUE/report/SueReportUser.tsx
  src/components/form/Input.tsx
Labels: enhancement, sue

#1030 feat: add sort feature
  src/components/filter/Filter.tsx
  src/config/texts.js
  src/screens/SUE/SueListScreen.tsx
Labels: enhancement, sue

#1031 feat: add search feature
  src/components/Search.tsx
  src/components/filter/Filter.tsx
  src/components/index.js
  src/config/Icon.tsx
  src/config/texts.js
  src/icons/index.js
  src/icons/lupe.js
  src/screens/SUE/SueListScreen.tsx
Labels: enhancement, sue

#1033 refactor: update the design of filters
  src/components/SUE/SueStatus.tsx
  src/components/Search.tsx
  src/components/filter/Filter.tsx
  src/components/filter/Sue/StatusFilter.tsx
Labels: refactoring, sue

#1035 feat: scroll screen to terms of service
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1036 feat: improve the filter feature
  src/components/CardListItem.js
  src/components/Search.tsx
  src/components/filter/DateFilter.tsx
  src/components/filter/Filter.tsx
  src/config/texts.js
  src/screens/SUE/SueListScreen.tsx
Labels: enhancement, sue

#1041 feat: list reports before 2020
  src/screens/SUE/SueListScreen.tsx
  src/screens/SUE/SueMapScreen.tsx
Labels: enhancement, sue

#1040 feat: add modal to upload photos
  src/components/Modal.js
  src/components/SUE/report/SueReportDescription.tsx
  src/components/consul/selectors/ImageSelector.js
  src/config/Icon.tsx
  src/config/texts.js
Labels: enhancement, sue

#1042 feat: add control to fill the city input
  src/components/SUE/report/SueReportLocation.tsx
  src/config/texts.js
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue

#1043 feat: show inputs above the keyboard
  package.json
  src/components/DefaultKeyboardAvoidingView.tsx
  src/helpers/headerHelper.ts
  src/hooks/index.js
  src/hooks/keyboardHeight.ts
  src/screens/SUE/SueReportScreen.tsx
  yarn.lock
Labels: enhancement, sue

#1044 feat: extend the waiting time when sending a report
  src/components/SUE/report/SueReportSend.tsx
  src/screens/SUE/SueReportScreen.tsx
Labels: enhancement, sue
