Repository smart-village-solutions/smart-village-app-app, pull requests merged in 2025-06, with the labels that each got.

#1334 fix(service-tiles): prevent last row tiles from appearing too close t…
  src/components/screens/Service.tsx
Labels: bug

#1340 feat(service): add `isLastRow` prop to `ServiceTile` and update rendering logic
  src/components/screens/Service.tsx
  src/components/screens/ServiceTile.tsx
Labels: enhancement

#1312 feat(volunteer): search and filters
  src/components/filter/DropdownFilter.tsx
  src/components/filter/Filter.tsx
  src/components/filter/FilterComponent.tsx
  src/components/volunteer/VolunteerAppointmentsCard.tsx
  src/config/texts.js
  src/hooks/volunteer/data.ts
  src/screens/SUE/SueListScreen.tsx
  src/screens/volunteer/VolunteerIndexScreen.tsx
Labels: enhancement, volunteer

#1321 feat(volunteer): edit and delete posts
  src/components/VerticalList.js
  src/components/volunteer/VolunteerGroup.tsx
  src/components/volunteer/VolunteerHomeSection.tsx
  src/components/volunteer/VolunteerPostListItem.tsx
  src/components/volunteer/VolunteerPostModal.tsx
  src/components/volunteer/VolunteerPostTextField.tsx
  src/components/volunteer/VolunteerPosts.tsx
  src/components/volunteer/VolunteerUser.tsx
  src/components/volunteer/index.ts
  src/config/texts.js
  src/helpers/imageHelper.js
  src/helpers/volunteerHelper.ts
  src/hooks/listHooks.js
  src/hooks/volunteer/data.ts
  src/hooks/volunteer/user.tsx
  src/queries/volunteer/post.ts
  src/screens/volunteer/VolunteerIndexScreen.tsx
  src/types/volunteer/post.ts
Labels: enhancement, volunteer

#1331 feat(volunteer): enhance registration form with user group
  src/components/DropdownSelect.js
  src/components/form/DropdownInput.tsx
  src/config/texts.js
  src/queries/types.ts
  src/queries/volunteer/auth.ts
  src/queries/volunteer/user.ts
  src/screens/volunteer/VolunteerRegistrationScreen.tsx
  src/types/volunteer/user.ts
Labels: enhancement, volunteer

#1337 feat(volunteer): add texts to registration process
  src/config/texts.js
  src/screens/volunteer/VolunteerRegistrationScreen.tsx
  src/screens/volunteer/VolunteerSignupScreen.tsx
Labels: enhancement, volunteer

#1345 feat: copy of descriptions in detail screens
  src/components/HtmlView.js
  src/components/StorySection.js
  src/components/screens/EventRecord.js
  src/components/screens/PointOfInterest.js
Labels: enhancement
